.debCred{
    display: flex;
    justify-content: center;
    height: 80px;
    width: calc(100% - 40px);
    background: linear-gradient(92.44deg, #E1EE86 18.17%, #C5D74D 99.41%);
    padding: 4px 14px 10px 14px;
    border-radius: 15px;
    margin: 20px;

    .card {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 16px;
        
        &__info {
            display: flex;
            flex-direction: column;
        }

        img {
            height: 25px;
            width: 6px;
        }

        &:first-child {
            border-right: 1px solid #5E5F63;
        }
    }
}

