<link rel="stylesheet" href="tab1.page.scss">

<div class="mainContainer">
  <div class="headerBlock">
    <div class="nameDate">
      <div class="userName">
        <div>Vladislav</div>
        <img src="assets/images/arrow-right.svg" alt="">
      </div>
      <div class="actualDate">Sun , 1 September</div>
    </div>
    <div class="settings">
      <img src="assets/images/Add.svg" class="add" alt=""> 
      <img src="assets/images/Notification.svg" class="notification" alt="">
      <img src="assets/images/Settings.svg" class="settings_img" alt="">
    </div>
  </div>
  <debit-credit-info></debit-credit-info>
  <debit-credit-info [cards]="cards2"></debit-credit-info>
  
  <div class="subscription" (click)="showTransaction()">
    Subscriptions
  </div>
  <ng-container *ngIf="isShowTransaction">
    <div class="transaction">
      transactions
    </div>
    <div class="banks">
      <div class="topName"></div>
    </div>
  </ng-container>

</div>