.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display:flex;
    flex-direction: column;
}

.headerBlock{
    width: 88.8vw;
    height: 2.8vh; //24
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
    margin-top: 6.6vh;

    .userName{
        color: #fff;
        height: 2.3vh;
        display: flex;

        img {
            width: 2vw;
            height: 2vh;
            align-self: center;
        }

        .topicTab {
            font-size: 2.3vh;
            align-self: center;
            margin-left: 1.3vw;
        }
    }
    .settings {
        display: flex;
        justify-content: flex-end;
    
        img {
            margin-left:24px ;
        }
    }
}