<div class="mainContainer">
  <div class="headerBlock">
    <div class="userName">
      <img src="assets/images/arrow-left.svg" alt="">
      <div class="topicTab"> Debit</div>
    </div>
    <div>
      <div class="options">
        <img src="assets/images/Add.svg" class="add" alt="">
        <img src="assets/images/Notification.svg" class="notification" alt="">
      </div>
    </div>
  </div>
  <div class="banks">
    <div class="bank" *ngFor="let nameOfBank of filteredBanks">
      <div class="bankName">
        {{nameOfBank}}
      </div> 
      <div class="cards" >
        <ng-container *ngFor="let cardOfBank of filteredCards index as i">
          <div class="card" *ngIf="filteredCards[i].bank === nameOfBank">
            <img class="picture" src="assets/cards/{{cardOfBank.cardPicture}}.svg">
            <img class="symbol" src="assets/cards/{{cardOfBank.bank}}.svg">
            <div class="balance">Balance: {{cardOfBank.currency}}{{cardOfBank.balance}}</div>
            <div class="spent">Spent: {{cardOfBank.currency}}{{cardOfBank.spent}}</div>
            <div class="requisites">{{cardOfBank.requisites}}</div>
            <img class="typeOfCard" src="assets/cards/{{cardOfBank.typeOfCard}}.svg">
          </div> 
        </ng-container> 
      </div>
    </div>
  </div>
</div>