@import "src/theme/functions.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-button {
    width: 100%;
    height: sizeHeight(40);
    border-radius: sizeHeight(10);
    background-color: #E1EE86;
    color: #141414;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel {
    background: #141414;
    border: 1px solid #373737;
    color: #E2E3E6;
}