@import "src/theme/functions.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #E1EE86;
    color: #141414;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        height: 20px;
    }
}

.cancel {
    background: #141414;
    border: 1px solid #373737;
    color: #E2E3E6;
}