.card {
    height: 21.5vh;
    width: 38vh;
    position: relative;     

    .picture {
        margin-right: 3vw;
        height: 100%;
        margin-bottom: 1vh;
    }
    .symbol {
        position: absolute;
        z-index:  100;
        left: 4%;
        top: 7%;
        height: 16%;
    }
    .balance {
        position: absolute;
        z-index:  100;
        left: 4%;
        top: 45%;
        font-size: 2vh;
        font-weight: 600;
        color: #fff;
    }
    .spent {
        position: absolute;
        z-index:  100;
        left: 4%;
        top: 60%;
        font-size: 1.3vh;
        color: #fff;
    }
    .requisites {
        position: absolute;
        z-index:  100;
        left: 4%;
        top: 80%;
        font-size: 1.8vh;
        color: #fff;
    }
    .typeOfCard {
        position: absolute;
        z-index:  100;
        right: 12%;
        top: 81%;
        height: 10%;
    }
}
