@import "src/theme/functions.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: sizeHeight(30) sizeWidth(30);
    background-color: #121214;

    .socials {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__social {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            background: #171719;
            border-radius: 12px
        }
    }

    .btn {
        width: 100%;
        margin-bottom: sizeHeight(30) ;
    }
}