<ion-header>
  <div class="header">
    <div class="title" (click)="back()">
      <div class="header__back">
        <img src="assets/back.svg" alt="" >
      </div>
      <div class="header__title">
        {{pageType === 'auth' ? 'Login' : 'Sign up'}}
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="auth-page">
    <div class="auth-social">
     {{pageType === 'auth' ? 'Log in with one of the following steps.' : 'Sign up with one of the following steps.'}}
    </div>
    <div class="socials">
      <div class="socials__social">
        <img src="assets/socials/icon_vk.svg" alt="">
      </div>
      <div class="socials__social">
        <img src="assets/socials/icon_twitter.svg" alt="">
      </div>
      <div class="socials__social">
        <img src="assets/socials/icon_google.svg" alt="">
      </div>
      <div class="socials__social">
        <img src="assets/socials/icon_facebook.svg" alt="">
      </div>
    </div>
    <div class="input" *ngIf="pageType === 'create'">
      <label class="text">Name</label>
      <input class="inputData" [(ngModel)]="name" [placeholder]="'Enter your name here'">
    </div>
    <div class="input">
      <label class="text">Login</label>
      <input class="inputData" [(ngModel)]="login" [placeholder]="'Enter your login here'">
    </div>
    <div class="input">
      <label class="text">Password</label>
      <input class="inputData" type="password" [(ngModel)]="password" 
      [placeholder]="'Enter your password here'"
      >
    </div>
    <div class="btn">
      <app-button [textButton]="pageType === 'auth' ? 'Login' : 'Sign up'" (click)="toSignUp()"></app-button>
    </div>
    <div class="have-account">
      <span>{{pageType === 'auth'? 'Don’t have an account?' : 'Already have an account?'}} </span>
      <a class="a" (click)="navigate()">{{pageType === 'auth'? 'Sign up' : 'Log in'}}</a>
    </div>
  </div>
</ion-content>
