@import "src/theme/functions.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.custom-input {
    display: flex;
    flex-direction: column;

    .label {
        margin-bottom: sizeHeight(8);
    }

    .input {
        padding: sizeHeight(20) sizeWidth(16);
        background-color: #171719;
        border: 1px solid #28292B;
        border-radius: 5px
    }
}

input:focus{
    outline: none;
}